[submodule "tpmp-lab2-task3"]
	path = tpmp-lab2-task3
	url = https://github.com/valmschk/tpmp-lab2-task3.git
[submodule "tpmp-lab2-task4"]
	path = tpmp-lab2-task4
	url = git@github.com:valmschk/tpmp-lab2-task4.git
